
@{
    ViewData["Title"] = "Home Page";

}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="text-center">
    <h1 class="display-4">Welcome To Contractor Finding APP</h1>
    <a asp-action="Create">CLICK HERE</a>
  @*  <h3>Please Register</h3>
    <a asp-action="Register">REGISTER</a>*@
</div>
